{% extends "base.html" %}

{% block content %}

<style>
.reset-box{
  max-width:400px;
  margin:auto;
  background:#111827;
  padding:30px;
  border-radius:12px;
}

input{
  width:100%;
  padding:10px;
  margin-top:10px;
  border:none;
  border-radius:6px;
  background:#1f2937;
  color:white;
}

button{
  margin-top:15px;
  width:100%;
  padding:10px;
  border:none;
  border-radius:6px;
  background:#22c55e;
  color:white;
}
</style>

<div class="reset-box">

<h2>🔒 Create New Password</h2>

<form method="POST">

  {% csrf_token %}

  {{ form.as_p }}

  <button type="submit">
    Reset Password
  </button>

</form>

</div>

{% endblock %}